{% extends 'base.html.twig' %}

{% block title %} New comment {% endblock %}

{% block body %}

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>

    <img src="{{ asset("Static photos/write.jpeg") }}"
         class="rounded img-thumbnail" alt="Image unavailable" width = "1110px" height="400px">

{% endblock %}